<!DOCTYPE html>

<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <link href="/static/styles.css" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Climate Change Simulator</title>
        <link rel="icon" href="smiley.jpg" type="image/icon">
        <!--image taken from https://thedearsoandsoblog.wordpress.com/2014/07/24/dear-emoji-among-us-whatsapp-emotions-bbm-smiley-face/comment-page-1/-->
    </head>
    <body>

        <!--<div class="jumbotron">-->
        <!--    <h1>Climate Change Simulator</h1>-->
        <!--</div>-->

        <div class="container">

            <nav class="navbar navbar-expand-md navbar-light bg-light border">
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto mt-2">
                        <!--<li class="nav-item"><a class="nav-link" href="/game">Return to Game</a></li>-->
                        <li class="nav-item"><a class="nav-link" href="/islands">Islands</a></li>
                        <li class="nav-item"><a class="nav-link" href="/tutorial">Tutorial</a></li>
                        <li class="nav-item"><a class="nav-link" href="/scoreboard">Scoreboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="/credits">Credits/Cited Work</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/index">Start New Game</a></li>
                    </ul>
                </div>
            </nav>

            <div class="section">
                <h2>Welcome to One Earth!</h2>
                <hr>

                <!--<h6>Welcome to the climate change simulator</h6>-->
                <!--<hr>-->

            </div><br>
            <h4>You are on Island Transport</h4>

            <main class="container p-5">
            <!--{% block main %}{% endblock %}-->
            <h2>Our Recommendation for Question 3</h2>
            <img src="https://media2.giphy.com/media/ZNnnp4wa17dZrDQKKI/giphy.gif"  class="border" width="300" height="200" border="0" title="Coal" /></a>

            <br>Although public transportation is recommended instead of using individual vehicles, vehicles such as buses, trains and subways also emit carbon dioxide depending on fuel consumption and the distance they travel.
            However, the transportation that causes the most swing among them is air travel.
            Adopting transportation, such as bicycles or public transport, instead of your car is essential for carbon emissions. By not using your car when it is not necessary, you can reduce your carbon emissions by 20%. Turning to small motor vehicles that consume less energy while buying a car will also be quite appropriate in terms of carbon emissions.


                <ul id="galleries">
                  <li>
                      <img src="https://i.ytimg.com/vi/oaAn3SIO7MY/maxresdefault.jpg"  class="border" width="200" height="200" border="0" title="Home" /></a>
                      <p>1. HOME</p>
                  </li>
                  <li>
                      <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/various-fruits-in-basket-on-picnic-blanket-at-shore-royalty-free-image-1085308952-1550769527.jpg?crop=0.756xw:1.00xh;0.137xw,0&resize=640:*"  class="border" width="200" height="200" border="0" title="Food" /></a>
                      <p>3. FOOD</p>
                  </li>
              </ul>

              <form action="/reco3_trans" method="post">
                  <div class="form-group">
                      <input autocomplete="off" autofocus class="form-control" name="islands" placeholder="Enter answer" type="text">
                  </div>
                  <button class="btn btn-primary" type="submit">ALOHA!</button>
              </form>



            </main>
            <!--<div class="dropdown">-->
            <!--  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--    Different Aspects of my Life-->
            <!--  </button>-->

            <!--  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
            <!--    <a class="dropdown-item" href="dogs.html">Dogs</a>-->
            <!--    <a class="dropdown-item" href="food.html">Food</a>-->
            <!--    <a class="dropdown-item" href="hiking.html">Hikes</a>-->
            <!--  </div>-->
            <!--</div>-->

            <hr>


        </div>
        <!--hello, homepage-->

        <footer class="small text-center text-muted">
            Created by Ananya Rajagopalan, Ceyda Varlıbaş, Sri Kundur, Tanya Sandeep Gupta. YHack 2020.
        </footer>

    </body>
</html>
